<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}

    <section class="video">
      <div class="container">
        <div class="row justify-content-center">
          <a class="anchor" id="videos"></a>
          <h1 class="col-12">Our videos</h1>
          <div class="col-12 col-md-5 col-lg-3 order-lg-last">
            <div class="row justify-content-center text-center tags">
              <h2>Theme</h2>
              <div class="col-12"><a href="#videos" class="tag active">All</a></div>
              {{ range $name, $taxonomy := .Site.Taxonomies.videostags }}
                    <div class="col-12"><a href="#blog" class="tag">{{ $name }}</a></div>
                {{ end }}
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-12 col-lg-9">
            <div class="row">
              {{ range .Pages }}
              <div class="col-12 list" data-tags="{{ range .Params.videostags }}{{ . }} {{end}}">
                <div class="row">
                  <div class="col-5">
                      <a href="{{.URL}}">
                        <div class="thumbnail" style="background-image: url('https://img.youtube.com/vi/{{.Params.videoId}}/mqdefault.jpg');"></div>
                      </a>
                  </div>
                  <div class="col-7">
                    <div class="row">
                      <h2 class="col-12" href="{{ .URL }}">{{ .Title | upper }}</h2>
                      <p class="col-12">{{ truncate 100 (index (split (index (split .Content "<p>") 1 ) "</p>") 0) }}</p>
                      <form class="col-12" action="{{ .URL }}" method="get">
                        <button type="submit" name="button" class="opencell-btn">READ</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
    </section>


    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
    <script type="text/javascript">
      $('.tag').click(function () {
        var tag = $(this).text();
        $('.tag')
          .removeClass('active');
        $(this).addClass('active');

        $('.list')
          .hide();

        $('.list').each(function(){
        if($(this).data("tags").indexOf(tag) >= 0) $(this).show();
        });

        if(tag == "All") $('.list').show();

      });
    </script>
  </body>
</html>
