<section class="hero-1">
  <div class="container">
    {{ partial "titleanddescription.html" (dict "Data" .Site.Data.aboutus.ourstory "OwnSection" "false") }}
    <div class="row justify-content-center">
      <div class="col-5 col-md-3 col-lg ourstory-box row align-items-center">
        <div class="col">{{ .Site.Data.aboutus.ourstory.box1 }}</div>
    </div>
      <div class="col-5 col-md-3 col-lg ourstory-box row align-items-center">
        <div class="col">{{ .Site.Data.aboutus.ourstory.box2 }}</div>
      </div>
      <div class="col-5 col-md-3 col-lg ourstory-box row align-items-center">
        <div class="col">{{ .Site.Data.aboutus.ourstory.box3 }}</div>
      </div>
      <div class="col-12 d-none d-md-block d-lg-none"></div>
      <div class="col-5 col-md-3 col-lg ourstory-box row align-items-center">
        <div class="col">{{ .Site.Data.aboutus.ourstory.box4 }}</div>
      </div>
      <div class="col-5 col-md-3 col-lg ourstory-box row align-items-center">
        <div class="col">{{ .Site.Data.aboutus.ourstory.box5 }}</div>
      </div>
    </div>
  </div>
</section>
