<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}

    <section class="hero-1 reduce-margin ourstory">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.ourstory) }}
        <div class="row margin text-center">
          {{ range $index, $element :=  $Data.ourstory.boxes }}
          <div class="row align-items-center justify-content-center box">
            <div>{{ .content }}</div>
          </div>
          {{ if and (eq (mod (add $index 1) 3) 0) (gt $index 0)}}
          <div class="col-12 d-none d-md-block d-lg-none"></div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>

    <section class="hero-1 reduce-margin leadership">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">{{ $Data.leadership.title}}</h1>
        </div>
        <div class="row justify-content-center">
          {{ range $Data.leadership.leaders }}
          <div class="col-8 col-md-6 col-lg-4 box text-center">
            <img src="{{ .url }}" alt="{{ .name }}">
            <div>
              <h2>{{ .name | upper }}</h2>
              <p>{{ .position }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "logos.html" (dict "Data" $Data.investors "Reducemargin" true) }}

    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
  </body>
</html>
