<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}

    {{ partial "sectiondescription.html" $Data.separator1}}
    <section class="hero-1">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.introduction) }}
      </div>
    </section>

    {{ partial "sectiondescription.html" $Data.separator2}}
    <section class="hero-1 jobs">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">Jobs</h1>
        </div>
        <div class="row justify-content-center">
          {{ range (where .Site.Pages "Type" "=" "jobs") }}
          {{ if .IsPage }}
            {{ partial "article.html" . }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </section>


    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
  </body>
</html>
