<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}
    <section class="hero-1">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.introduction) }}
      </div>
    </section>

    <section class="hero-1 reduce-margin ecosystem">
      <div class="navigation text-center">
        <div class="container">
        {{ range $name, $taxonomy := .Site.Taxonomies.ecosysindustags }}
          <h2 class="navigation">
            <a href="#{{ anchorize $name }}">{{ $name | upper}}</a>
          </h2>
        {{ end }}
        </div>
      </div>
      <div class="navigation text-center">
        <div class="container">
        {{ range $name, $taxonomy := .Site.Taxonomies.ecosysroletags }}
          <h2 class="navigation">
            <a href="#{{ anchorize $name }}">{{ $name | upper}}</a>
          </h2>
        {{ end }}
        </div>
      </div>
    </section>

    <section class="hero-1 reduce-margin">
      <div class="container">
        <div class="row align-items-center justify-content-center customer-logo">
          {{ $scratch := newScratch }}
          {{ range $Data.logos }}
          {{range .ecosysindustags}}{{ $scratch.Add "industagdata" (slice (anchorize .))}}{{end}}
          {{range .ecosysroletags}}{{ $scratch.Add "roletagdata" (slice (anchorize .))}}{{end}}

          <div class="col-6 col-md-4 col-lg-3 logo">
            <img src="{{ .url }}" class="img-fluid" alt="{{ .alt }}" data-industag="{{ jsonify ($scratch.Get "industagdata" )}}" data-roletag="{{ jsonify ($scratch.Get "roletagdata" )}}">
          </div>

          {{ $scratch.Delete "industagdata"}}
          {{ $scratch.Delete "roletagdata"}}
          {{ end }}
      </div>
    </section>


    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
    <script type="text/javascript">
      function hasCommonElement(arr1,arr2)
      {
         var bExists = false;
         $.each(arr2, function(index, value){

           if($.inArray(value,arr1)!=-1){
              bExists = true;
           }

           if(bExists){
               return false;  //break
           }
         });
         return bExists;
      }

      $('h2.navigation').click(function () {

        var select = ($(this).children('a').attr('href').replace('#', ''));
        //$(this).parent('div').children('h2.navigation').not(this).children('a').removeClass('active');
        $(this).children('a').toggleClass('active');


        // var industag = $('div.navigation:nth-child(1)').children('h2').children('a.active').attr('href');
        // var roletag = $('div.navigation:nth-child(2)').children('h2').children('a.active').attr('href');

        var industag = $('div.navigation>div:nth-child(1)').children('h2').children('a.active').map(function(){return $(this).attr('href').replace('#', '')});
        var roletag = $('div.navigation>div:nth-child(2)').children('h2').children('a.active').map(function(){return $(this).attr('href').replace('#', '')});

        $('.logo').hide();

        if(industag.length > 0  && roletag.length > 0 )
        $('.logo').filter(function(){
          if(hasCommonElement(industag,$(this).children('img').data('industag'))){
            return true;
          }
        }).filter(function(){
          if(hasCommonElement(roletag,$(this).children('img').data('roletag'))){
            return true;
          }
        }).show();
        else if(industag.length > 0)
          $('.logo').filter(function(){
            if(hasCommonElement(industag,$(this).children('img').data('industag'))){
              return true;
            }
          }).show();
        else if(roletag.length > 0)
        $('.logo').filter(function(){
          if(hasCommonElement(roletag,$(this).children('img').data('roletag'))){
            return true;
          }
        }).show();
        else $('.logo').show();


         /*

        var tag = $(this).text();
        $('.tag')
          .removeClass('active');
        $(this).addClass('active');

        $('.list')
          .hide();

        $('.list').each(function(){
        if($(this).data("tags").indexOf(tag) >= 0) $(this).show();
        });

        if(tag == "All") $('.list').show();
        */
      });
    </script>
  </body>
</html>
