<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}
    {{ partial "sectiondescription.html" $Data.separator1 }}
    <section class="hero-1">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.introduction) }}
      </div>
    </section>

    <section class="hero-1 d-none d-md-block reduce-margin ecosystem ">
      <div class="navigation text-center">
        <div class="container">
        {{ range $Data.modulestags }}
          <h2 class="navigation">
            <a class="cursor" data-target="{{ anchorize . }}">{{ . | upper}}</a>
          </h2>
        {{ end }}
        </div>
      </div>
    </section>

    <section class="hero-1 d-none d-md-block reduce-margin text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-7 col-lg-7">
            {{ .RawContent | safeHTML }}
          </div>
          <div class="col">
            <div class="row align-items-center justify-content-center rosace-logo">
              {{ $scratch := newScratch }}
              {{ range $Data.customers.logos }}
              {{range .tags}}{{ $scratch.Add "tags" (slice (anchorize .))}}{{end}}
              <div class="col-6 logo">
                <div class="row align-items-center h-100">
                  <div class="col">
                    {{with .link}}{{if (and .url .target)}}<a href="{{.url}}" {{if eq .target "external"}}target="_blank"{{end}}>{{end}}{{end}}<img src="{{ .url }}" class="img-fluid {{ if .description }} cursor{{end}}" alt="{{ .alt }}" {{if .tags}} data-tags="{{ jsonify ($scratch.Get "tags" )}}"{{ end }}>  {{with .link}}{{if (and .url .target)}}</a>{{end}}{{end}}
                  </div>
                </div>
              </div>
              {{ $scratch.Delete "tags"}}
              {{ end }}
              <div class="col-12 logo"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
    <script type="text/javascript">
      var logosdata = $('.rosace-logo>div:not(:last-child)').clone();
      function hasCommonElement(arr1,arr2)
      {
         var bExists = false;
         $.each(arr2, function(index, value){

           if($.inArray(value,arr1)!=-1){
              bExists = true;
           }

           if(bExists){
               return false;  //break
           }
         });
         return bExists;
      }

      $('h2.navigation').click(function () {

        $(this).siblings().children('a').removeClass('active');
        $(this).children('a').toggleClass('active');

        var currentTag =  $(this).children('a.active').data('target');
        $('.rosace-logo>div:not(:last-child)').remove();
        $('.rosace-logo').prepend(logosdata);

        if(currentTag){
          $('.rosace-logo>div:not(:last-child)').filter(function(){
            return !hasCommonElement([currentTag],$(this).find('img').data('tags'));
          }).remove();
          setActiveModule($("svg#rosace .rosace > *[data-target=\""+ currentTag +"\"]"));
          updateRosace($("svg#rosace .rosace > *[data-target=\""+ currentTag+"\"]"));
        }
        else{
          resetRosace();
        }
      });
    </script>
    <script type="text/javascript">
      function activeParents(item){
        var dataparents = item.data("parents")
        var parents=null;
        if(dataparents){
          parents = dataparents.split(" ");
          for(var i = 0; i<parents.length; i++){
            activeParents($("#"+parents[i]));
            $("#"+parents[i]).removeClass("innactive");
          }
        }
      }

      function hoverParents(item){
        var dataparents = item.data("parents")
        var parents=null;
        if(dataparents){
          parents = dataparents.split(" ");
          for(var i = 0; i<parents.length; i++){
            hoverParents($("#"+parents[i]));
            $("#"+parents[i]).addClass("hover");
          }
        }
      }

      function updateRosace(item){
        item.siblings().addClass("innactive");
        item.removeClass("innactive");
        activeParents(item);
      }

      function resetRosace(){
        $("svg#rosace .rosace > *").removeClass("active");
        $("svg#rosace .rosace > *").removeClass("innactive");
      }

      function hoverRosace(item){
        $("#rosace .hover").removeClass("hover");
        item.addClass("hover");
        hoverParents(item);
      }

      function setActiveModule(item){
        item.siblings().removeClass("active");
        item.addClass("active");
      }

      $( document ).ready(function() {
        $("svg#rosace .rosace > *:not(.disabled)").click(
          function(){
            if($(this).hasClass("active")){
              resetRosace();
              $('h2.navigation').children("a").removeClass('active');
              $('.rosace-logo').prepend(logosdata);
            }
            else{
              var currentTag =  $(this).data('target');

              $('h2.navigation').children("a").removeClass('active');
              $('h2.navigation').children("a[data-target=\""+ currentTag+"\"]").addClass('active');
              $('.rosace-logo>div:not(:last-child)').remove();
              $('.rosace-logo').prepend(logosdata);

              if(currentTag){
                $('.rosace-logo>div:not(:last-child)').filter(function(){
                  return !hasCommonElement([currentTag],$(this).find('img').data('tags'));
                }).remove();
              }
              setActiveModule($(this));
              updateRosace($(this));
            }
          }
        )
        $("svg#rosace .rosace > *").hover(
          function(){
            hoverRosace($(this));
          },
          function(){
            $("#rosace .hover").removeClass("hover");
          }
        )
      });
    </script>
  </body>
</html>
