<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}

    {{ partial "sections/provide.html" (.Site.GetPage "_index.md").Params.whatweprovide }}

    <section class="hero-1 modules">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-5 col-lg-4 text-center list">
            <div class="row justify-content-center">
              <h1 class="col-12">Modules</h1>
              <ul class="col-12" data-ride="carousel">
                {{ range $index, $content := $Data.modules }}
                <li data-target="#carouselModules" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}><h2>{{ $content.title | upper }}</h2></li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-8 col-lg-9 text-left content">
            <div class="row">
              <div id="carouselModules" class="carousel slide col" data-ride="carousel">
                <ol class="carousel-indicators">
                  {{ range $index, $element := $Data.modules }}
                  <li data-target="#carouselModules" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
                  {{end}}
                </ol>
                <div class="carousel-inner">
                  {{ range $index, $element := $Data.modules }}
                  <div class="carousel-item {{if eq $index 0}}active{{end}}">
                    <div class="row justify-content-center align-items-center">
                      <div class="col-10 col-md-8 col-lg-6">
                        <div class="row justify-content-center">
                          <h1 class="col-12">
                            {{ $element.title }}
                          </h1>
                          <div class="col-12">
                            {{ $element.content | markdownify }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
                <a class="carousel-control-prev" href="#carouselModules" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselModules" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}

    <script type="text/javascript">
      $('.carousel').on('slid.bs.carousel', function () {
      var currentIndex = $(this).find('.active').index();
      $('.list ul li')
        .removeClass('active')
        .eq(currentIndex)
        .addClass('active');
      });
    </script>
  </body>
</html>
