<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}
    <section class="hero-1">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.text1) }}
      </div>
    </section>

    <section class="hero-1">
      <div class="container">
        <div class="row justify-content-center">
          {{ range $Data.boxes }}
          <div class="col-8 col-md-5 text-center platformtechnology-box">
            <div class="row justify-content-center">
              <h1 class="col-12">{{ .title }}</h1>
              <hr class="col-2">
              <p class="col-12">{{ .description }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section class="hero-1">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.text2) }}
      </div>
    </section>

    <section class="hero-1">
      <div class="container">
        <div class="row justify-content-center whatmakesus-box text-center">
          {{ range $Data.columns}}
          <div class="col-12 col-md-4">
            <div class="title-box text-center">{{ .title | safeHTML }}</div>
            {{ range .content }}
            <div>
              {{if .title }}<h2>{{ .title }}</h2>{{end}}
              {{if .text }}<p>{{ .text }}</p>{{end}}
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <section class="hero-2">
      <div class="container">
        <div class="row align-items-center justify-content-center businesslogic">
          <div class="col-8 col-md-4 order-md-last">
            <img src="{{ $Data.businesslogic.url }}" class="img-fluid" alt="{{ $Data.businesslogic.alt }}">
          </div>
          {{ range $Data.businesslogic.sections }}
          <div class="col-10 col-md-4">
            <div class="row">
              <h1 class="col-12 text-center text-md-left">{{ .title }}</h1>
              {{ range .subtitles }}
              <h2 class="col-12 text-center text-md-left"> {{ .subtitle }}</h2>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>


    <section class="hero-1">
      <div class="container">
        {{ partial "titleanddescription.html" (dict "Data" $Data.technologies.introduction) }}
      </div>
    </section>

    <section class="hero-1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          {{ range $Data.technologies.technologies }}
          <div class="col-10 col-md row align-items-center justify-content-center technologies">
            <div class="col text-center img">
              <img src="{{ .url }}" class="img-fluid" alt="{{ .alt }}">
            </div>
            <div class="w-100"></div>
            <div class="col text-center description">
              {{ .description }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
  </body>
</html>
