<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
      {{ partial "googletags.html" . }}\n\t{{ partial "googletags.html" . }}
	  {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" }}

    <section class="hero-1 releaseschedule">
      <div class="container">
        <div class="row justify-content-center">
          <a class="anchor" id="releases"></a>
          <h1 class="col-12">Releases schedule</h1>
          <div class="w-100"></div>
          {{ range .Pages }}
          <div class="col-12 list" data-tags="{{ range .Params.releasestags }}{{ . }} {{end}}">
            <div class="col-12">
              <div class="row">
                <h2 class="col-12" href="{{ .URL }}">{{ .Title | upper }}</h2>
                <p class="col-12">{{ truncate 100 (index (split (index (split .Content "<p>") 1 ) "</p>") 0) }}</p>
                <form class="col-12" action="{{ .URL }}" method="get">
                  <button type="submit" name="button" class="opencell-btn">READ</button>
                </form>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
    </section>


    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
    <script type="text/javascript">
      $('.tag').click(function () {
        var tag = $(this).text();
        $('.tag')
          .removeClass('active');
        $(this).addClass('active');

        $('.list')
          .hide();

        $('.list').each(function(){
        if($(this).data("tags").indexOf(tag) >= 0) $(this).show();
        });

        if(tag == "All") $('.list').show();

      });
    </script>
  </body>
</html>
