<!DOCTYPE html>
{{ $Data := .Params }}
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header/navBar.html" . }}
    {{ partial "header/smallheader.html" (dict "Data" $Data) }}


    <section class="byrole">
      <div class="navigation text-center">
        <div class="container">
          {{ range $Data.roles }}
            <h2 class="navigation">
              <a href="#{{ anchorize .nav }}">{{ .nav | upper}}</a>
            </h2>
          {{ end }}
        </div>
      </div>
    </section>

    {{ range $Data.roles }}
    <section class="hero-1 byrole alternate" >
      <div class="container">
        <a class="anchor" id="{{ anchorize .nav }}"></a>
        <div class="row justify-content-center">
          <div class="col-6 col-md-5 img">
            <img src="{{ .url }}" class="img-fluid" alt="{{ .title }}">
          </div>
          <div class="col-10 col-md-10 content">
            <h1>{{ .title }}</h1>
            <h2>BACKGROUND</h2>
            <p>{{ .background }}</p>
            <h2>BENEFITS</h2>
            <ul>
              {{ range .benefits }}
              <li>{{ .benefit }}</li>
              {{ end}}
            </ul>
            <form class="text-right" action="{{ .Site.Params.url.getInTouch }}" method="get">
              <button type="submit" name="button" class="opencell-btn">DISCOVER</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    {{ end }}

    {{ partial "sections/getdemo.html" . }}
    {{ partial "sections/mentions.html" . }}

    {{ partial "script.html" }}
  </body>
</html>
