.navbar {
  font-family: 'GT-Walsheim-Regular';
  font-size: 14px;
}

.navbar .container {
  height: 44px;
}


.navbar-spacer {
  margin-top: 60px;
}

@media(min-width:1024px) {
  .navbar .container {
    height: 84px;
  }

  .navbar-spacer {
    margin-top: 100px;
  }
}

.navbar-brand img {
  width: 160px;
  padding-bottom: 8px;
}

.nav-item {
  margin-left: 15px;
}

.navbar-collapse {
  background-color: white;
  padding-bottom: 20px;
}

.nav-item .opencell-btn{
  margin-top: 15px;
}

.navbar-nav .dropdown-menu {
    margin-right: 15px;
}

@media(min-width:992px) {
  .nav-item .opencell-btn {
    margin-top: 0;
  }

  .navbar-collapse {
    background-color: white;
    padding: 0;
  }

}

.opencell-btn {
  background-color: #DD594E;
  color: white;
  padding: 7px 20PX;
  border: 0;
}

section .opencell-btn {
  margin-top: 5vh;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
  font-family: "GT-Walsheim-Thin";
  font-size: 20px;
}

header.hero, header.small_header, .indus-telco, .indus-energy, .indus-mobility, .indus-retail, .leadership {
  text-align: center;
}

header.hero {
  position: relative;
  margin-top: 60px;
  width: 100%;
  min-height: calc(100vh - 60px);
  color: #fff;
  background-image: url("../img/bg/bg_slider_1.jpg");
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  background-position: 50% 0px !important;
  background-color: #DD594E;background-repeat: no-repeat !important;
}

header.small_header{
  width: 100%;
  min-height: 40vh;
  color: #fff;
  background-image: url("../img/bg/bg_slider_1.jpg");
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  background-position: 50% 0px !important;
  background-color: #DD594E;background-repeat: no-repeat !important;
}



header .header-content-inner h1 {
    margin: auto;
    text-transform: none;
    font-family: "Noe-Display-Black";
    font-size: 26px;
    line-height: 34px;
    font-weight: 500;
    padding-bottom: 20px;
}

header .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
}

header .carousel {
      position: absolute;
      top: 0%;
      bottom: 0%;
      width: 100%;
      margin: 0;
}


@media(min-width:1024px) {
  header.hero {
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    background-image: url("../img/bg/bg_slider_1.jpg");
  }


    header .header-content-inner h1 {
        margin: auto;
        text-transform: none;
        font-size: 4vw;
        line-height: 5.2vw;
        font-weight: 500;
        padding-bottom: 20px;
    }

    header .header-content-inner p {
        font-size: 2.4vw;
        font-weight: 300;
    }
}


.desc {
  padding: 30px 0;
}

section h1 {
  color: #5A5A5A;
  font-family: 'Noe-Display-Black';
  font-weight: black;
  text-transform: none;
  font-size: 50px;
  line-height: 50px;
  padding: 0 0 4vw 0;
}

section h2, span.h2 {
  font-family: 'GT-Walsheim-Bold';
  color: black;
  min-height: 40px;
  font-weight: bold;
  text-transform: none;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

span.h2 {
  margin-top: -20px;
}

.title-box {
  background-color: #EB5048;
  font-family: 'GT-Walsheim-Regular';
  font-weight: Bold;
  color: white;
  padding: 14px 0;
  margin-bottom: 25px;
  border: 0;
  text-transform: none;
  font-size: 22px;
  letter-spacing: 5px;
}

.ourstory-box {
  background-color: #EB5048;
  border: 10px solid white;
  height: 140px;
  margin: 10px 0;
  font-size: 18px;
  color: white;
}


.leadership-box{
  margin: 10px 0;
}
.leadership-box > img {
  width: inherit;
  padding: 0 20px;
}
.leadership-box > h2{
  min-height: 0;
}
.leadership-box > p{
  font-size: 16px;
}

.businessmodel-box {
  margin: 10px;
  padding: 40px 20px;
  background-color: #F9F9F8;
}
.businessmodel-box > img {
  height: 50px;
  margin: 20px;
}
.businessmodel-box > p {
  color: #BBB5B5;
}


.customers-box {
  position: relative;
  margin-top: 50px;
  background-color: #E26050;
  height: 150px;
  padding: 20px;
  z-index: 10;
}
.customers-box > h1 {
  color: white;
  width: 100%;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
}
.customers-list {
  margin: 30px 0;
  padding: 0 0 0 8px;
  text-align: center;
  list-style-type: none;
}
.customers-list > li{
  color: #676767;
  padding-left: 30px;
  letter-spacing: 2px;
}
.customers-list > li > h2{
  color: inherit;
  padding: 0;
  margin: 0;
  min-height: 0;
  max-width: 80%;
}
.customers-logos {
  margin-left: -30px;
  background-color:#F9F9F8;
  padding: 30px;
  z-index: 0;
}
.customers-logos img {
  padding: 30px;
}
@media(min-width:768px) {
  .customers-box {
    height: 200px;
    padding: 20px;
  }
  .customers-list {
    text-align: left;
    list-style-type: disc;
  }
  .customers-list > li {
    text-align: inherit;
  }
  .customer-list > li > h2 {
    text-align: inherit;
  }
}


.whatmakesus p {
  line-height: 20px;
  height: 100px;
}

.hero-1 {
  background-color: white;
}

.hero-2 {
  background-color: white;
}

section {
  padding: 3vh 0;
}

@media(min-width:1024px) {
  section {
    padding: 5vh 0;
  }
}

@media(min-width:992px) {
  .section h2 {
    height: 40px;
  }

  .whatmakesus p {
    min-height: 100px;
  }
}

.indus-telco, .indus-energy, .indus-mobility, .indus-retail {
  font-family: 'GT-Walsheim-Bold';
  font-size: 22px;
  line-height: 44px;
  font-weight: bold;
  color: white;
  height: 88px;
  padding: 22px 0;
  margin: 20px;
  border: 0;
}

.indus-telco {
  line-height: 22px;
  background-color: #E14D43;
}

.indus-energy {
  background-color: #CF1428;
}

.indus-mobility {
  background-color: #991921;
}

.indus-retail {
  background-color: #D53F4F;
}

.customer-logo img {
  padding: 10% 20%;
}

.testimonials {
  color: white;
  min-height: 400px;
  height: 20vw;
  background-image: url("../img/bg/bg_testimonials.jpg");
}

@media(min-width:1200px) {
  .testimonials {
    min-height: 360px;
  }
}

.testimonials .quote {
  font-family: 'Noe-Display-Regular';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  padding-top: 10vh;
}

.testimonials .quote::before {
  background-image: url("../img/icon/quote.svg");
  background-size: 35px 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  content: "";
  margin-right: 10px;
}
.testimonials .quote::after {
  background-image: url("../img/icon/quote.svg");
  background-size: 35px 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  content: "";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 10px;
}

.testimonials hr {
  width: 5vw;
  margin: 2vh 0;
  border-radius: 2px;
  border: 2px solid white;
}

.testimonials .author {
  font-family: 'GT-Walsheim-Bold';
  font-size: 15px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: auto 15px;
  border-radius: 5px;
}

section.get-demo {
  min-height: 0;
  padding: 0;
  background-color: #DD594E;
}

section.get-demo div{
  margin-left: 0;
  margin-right: 0;
}

button.get-demo {
  font-size: 50px;
  line-height: 50px;
  background-color: inherit;
  font-family: 'Noe-Display-Black';
  font-weight: black;
  color: white;
  padding: 10px 40px;
  border: 3px solid white;
  margin: calc(25vh / 2 - 50px) 0;
}

.youtube {
  padding: 10px;
}

section.footer{
  background-color: #676767;
  color: white;
}



.mention-logo img {
  width: 160px;
  padding: 8px 0 30px 0;
}

.copyright {
  margin-bottom: 20px;
}

section.footer{
  background-color: #676767;
  min-height: 0;
  padding: 50px 0 20px 0;
  color: white;
}

section.footer div {
  font-size: 14px;
}

section.footer h1 {
  font-size: 20px;
  font-family: 'Noe-Display-Black';
  font-weight: bold;
  color: white;
  padding: 0;
}

section.footer ul {
  padding: 0 0 30px 0;
  margin: 0;
}

section.footer li {
  list-style: none;
}

.carousel-control-prev-icon{
  background-image: url("../img/icon/arrow.png");
  height: 44px;
  width: 23px;
}
.carousel-control-next-icon{
  background-image: url("../img/icon/arrow.png");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 44px;
  width: 23px;
}


code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}
