@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot");
  src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gt-walsheim/GT-Walsheim-Regular.woff2") format("woff2"),
  url("../fonts/gt-walsheim/GT-Walsheim-Regular.woff") format("woff"),
  url("../fonts/gt-walsheim/GT-Walsheim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim-Bold';
  src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot");
  src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gt-walsheim/GT-Walsheim-Bold.woff2") format("woff2"),
  url("../fonts/gt-walsheim/GT-Walsheim-Bold.woff") format("woff"),
  url("../fonts/gt-walsheim/GT-Walsheim-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim-Thin';
  src: url("../fonts/gt-walsheim/GT-Walsheim-Thin.eot");
  src: url("../fonts/gt-walsheim/GT-Walsheim-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gt-walsheim/GT-Walsheim-Thin.woff2") format("woff2"),
  url("../fonts/gt-walsheim/GT-Walsheim-Thin.woff") format("woff"),
  url("../fonts/gt-walsheim/GT-Walsheim-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'Noe-Display-Regular';
  src: url("../fonts/noe-display/NoeDisplay-Regular.woff2") format("woff2"),
  url("../fonts/noe-display/NoeDisplay-Regular.woff") format("woff"),
  url("../fonts/noe-display/NoeDisplay-Regular.otf") format("opentype");
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'Noe-Display-Black';
  src: url("../fonts/noe-display/NoeDisplay-Black.woff") format("woff"),
  url("../fonts/noe-display/NoeDisplay-Black.otf") format("opentype");
  font-weight:normal;
  font-style:normal;
}
