    <header class="hero">
      <div class="header-content-inner">
        <div id="carouselHeader" class="carousel slide row align-items-center" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHeader" data-slide-to="1"></li>
            <li data-target="#carouselHeader" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>{{ .Site.Data.indexpage.header.title1 | safeHTML }}</h1>
                <p>{{ .Site.Data.indexpage.header.subtitle1 }}</p>
            </div>
            <div class="carousel-item">
                <h1>{{ .Site.Data.indexpage.header.title2 | safeHTML }}</h1>
                <p>{{ .Site.Data.indexpage.header.subtitle2 }}</p>
            </div>
            <div class="carousel-item">
                  <h1>{{ .Site.Data.indexpage.header.title3 | safeHTML }}</h1>
                  <p>{{ .Site.Data.indexpage.header.subtitle3 }}</p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </header>
