    <section class="hero-1 mainindustries">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">{{ .title }}</h1>
          <div class="w-100"></div>
          <h2 class="col-12 col-md-8 col-lg-6">{{ .subtitle }}</h2>
        </div>
        <div class="row justify-content-center text-center">
          {{range .blocks}}
            <div class="col-12 col-md-6 box">
              <div class="row align-items-center justify-content-center">
                {{ .block | safeHTML}}
              </div>
            </div>
          {{end}}
        </div>
      </div>
    </section>
