    <section class="hero-1">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">{{ .title }}</h1>
          <div class="w-100"></div>
          <h2 class="col-12 col-md-8 col-lg-6">{{ .subtitle }}</h2>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-8 col-md-5 col-lg-4 indus-telco">
            {{ .block1 | safeHTML}}
          </div>
          <div class="col-8 col-md-5 col-lg-4 indus-energy">
            {{ .block2 | safeHTML }}
          </div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 col-lg-4 indus-mobility">
            {{ .block3 | safeHTML }}
          </div>
          <div class="col-8 col-md-5 col-lg-4 indus-retail">
            {{ .block4 | safeHTML }}
          </div>
        </div>
      </div>
    </section>
