    <section class="hero-1">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">A new paradigm.</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-10 col-lg-8 embed-responsive embed-responsive-16by9">
            <iframe class="youtube" src="https://www.youtube.com/embed/{{ .Site.Data.indexpage.paradigm.video }}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
