    <section class="hero-1 whatweprovide">
      <div class="container">
        {{ if .showTitle }}
        <div class="row align-items-center justify-content-center">
          <h1 class="col-12 text-center">{{ .Data.title }}</h1>
        </div>
        {{ end }}
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 img">
            <img src="{{ .Data.image }}" class="img-fluid" alt="">
          </div>
          <div class="col-12 col-md-12 col-lg-6 description">
            {{ .Data.content | markdownify }}
            <button type="button" name="button" class="opencell-btn">DISCOVER</button>
          </div>
        </div>
      </div>
    </section>
