    <section class="hero-1">
      <div class="container">
        {{if .Title }}
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">{{.Title}}</h1>
        </div>
        {{end}}
        <div class="row justify-content-center whatmakesus-box text-center">
          {{ range .Data.columns}}
          <div class="col-12 col-md-4">
            <div class="title-box text-center">{{ .title | safeHTML }}</div>
            {{ range .content }}
            <div>
              {{if .title }}<h2>{{ .title }}</h2>{{end}}
              {{if .text }}<p>{{ .text }}</p>{{end}}
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </section>
