@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot");
  src: url("../fonts/gt-walsheim/GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gt-walsheim/GT-Walsheim-Regular.woff2") format("woff2"),
  url("../fonts/gt-walsheim/GT-Walsheim-Regular.woff") format("woff"),
  url("../fonts/gt-walsheim/GT-Walsheim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim-Bold';
  src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot");
  src: url("../fonts/gt-walsheim/GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gt-walsheim/GT-Walsheim-Bold.woff2") format("woff2"),
  url("../fonts/gt-walsheim/GT-Walsheim-Bold.woff") format("woff"),
  url("../fonts/gt-walsheim/GT-Walsheim-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim-Thin';
  src: url("../fonts/gt-walsheim/GT-Walsheim-Thin.eot");
  src: url("../fonts/gt-walsheim/GT-Walsheim-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/gt-walsheim/GT-Walsheim-Thin.woff2") format("woff2"),
  url("../fonts/gt-walsheim/GT-Walsheim-Thin.woff") format("woff"),
  url("../fonts/gt-walsheim/GT-Walsheim-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'Neo-Display';
  src: url("../fonts/neo-display/NeoDisplay-Regular.woff2") format("woff2"),
  url("../fonts/neo-display/NeoDisplay-Regular.woff") format("woff"),
  url("../fonts/gt-walsheim/NeoDisplay-Regular.ttf") format("truetype";
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'Neo-Display';
  src: url("../fonts/neo-display/NeoDisplay-Black.woff") format("woff"),
  url("../fonts/gt-walsheim/NeoDisplay-Black.ttf") format("truetype");
  font-weight:black;
  font-style:normal;
}
