<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="img/logo-opencell.svg" alt="Opencell-logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">PLATFORM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">SOLUTION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">SUPPORT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">SEARCH</a>
            </li>
            <li class="nav-item">
              <button type="button" name="getDemo" class="opencell-btn">GET A DEMO</button>
            </li>
            <li class="nav-item">
              <button type="button" name="login" class="opencell-btn">LOG IN</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
