    <section>
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="col-12 text-center">Our main industries.</h1>
          <div class="w-100"></div>
          <h2 class="col-12 col-md-8 col-lg-6">OUR PLATFORM IS ADAPTED FOR ALL INDUSTRIES AND ALL BUSINESS SIZES. IT WORKS IN B2C, B2B AND B2BC</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-8 col-md-5 col-lg-4 indus-telco">
            TELCO, IOT & <br> CLOUD INFRASTRUCTURE
          </div>
          <div class="col-8 col-md-5 col-lg-4 indus-energy">
            ENERGY & UTILITIES
          </div>
          <div class="w-100"></div>
          <div class="col-8 col-md-5 col-lg-4 indus-mobility">
            MOBILITY & TRANSPORT
          </div>
          <div class="col-8 col-md-5 col-lg-4 indus-retail">
            RETAIL
          </div>
        </div>
      </div>
    </section>
