    <section>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <h1 class="col-12 text-center">What we provide.</h1>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <img src="img/hp_schema.png" class="img-fluid" alt="">
          </div>
          <div class="col-12 col-md-4 col-lg-6">
            <p>Opencell is an end-to-end platform for monetizing subscription and usage-based revenue businesses.</p>
            <p>We enable recurring revenue businesses to quickly launch new services, to monetize new revenue streams and deliver improved customer experiences.</p>
            <button type="button" name="button" class="opencell-btn">DISCOVER</button>
          </div>
        </div>
      </div>
    </section>
