    <header class="hero text-center">
      <div class="header-content-inner">
        <div id="carouselHeader" class="carousel slide row align-items-center" data-ride="carousel">
          <ol class="carousel-indicators">
            {{ range $index, $element := .Site.Data.indexpage.header.carousel }}
            <li data-target="#carouselHeader" data-slide-to="{{ add $index 1 }}" {{if eq $index 0}}class="active"{{end}}></li>
            {{end}}
          </ol>
          <div class="carousel-inner">
            {{ range $index, $element := .Site.Data.indexpage.header.carousel }}
            <div class="carousel-item {{if eq $index 0}}active{{end}}">
                <h1>{{ $element.title | safeHTML }}</h1>
                <p>{{ $element.subtitle }}</p>
            </div>
            {{end}}
          </div>
          <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </header>
